<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.anttivuor.startactivityforresult">

    <application>
        <service
            android:name=".RNStartActivityForResultModule"
            android:exported="true"
        />
    </application>
</manifest>
