<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.posboy.rnstartactivityforresultpay">

    <application>
        <service
            android:name=".RNStartActivityForResultPayModule"
            android:exported="true"
        />
    </application>
</manifest>
